<h1>Welcome to <%= @user.username %>'s profile </h1>

<p> Contact Info: <p>
<p> Email Address: <%= @user.email_address %></p>
<p> Steam Id: <%= @user.steam_id %> </p>



<li><%= link_to "Delete User", user_path(@user),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>